apiVersion: v1
kind: Service
metadata:
  name: nextcloud
  labels:
    app: nextcloud
spec:
  type: NodePort
  selector:
    app: nextcloud
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
      protocol: TCP
