apiVersion: v1
kind: Service
metadata:
  name: pgadmin
  labels:
    app: pgadmin
spec:
  type: NodePort
  selector:
    app: pgadmin
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30081
      protocol: TCP
